/* Add your styles here */
* {
    font-family: 'Roboto', sans-serif;
}
.app-logo {
    border-radius: min(40%, var(--vaadin-radius-m));
    margin-inline-start: var(--vaadin-padding-inline-container);
}

.app-name {
    font-weight: 600;
    font-size: var(--lumo-font-size-l);
}

.app-footer {
    color: var(--vaadin-text-color-secondary);
    font-size: var(--lumo-font-size-s);
}

:root {
    --barva-rumena: rgba(255, 215, 0, 0.25);
    --barva-rdeca: rgba(255, 100, 100, 0.25);
    --barva-zelena: rgba(100, 200, 100, 0.25);
    --barva-roza: rgba(255, 150, 200, 0.25);
    --barva-vijolicna: rgba(180, 130, 255, 0.25);
}
[theme~="dark"] {
    --barva-rumena: rgba(255, 215, 0, 0.15);
    --barva-rdeca: rgba(255, 100, 100, 0.15);
    --barva-zelena: rgba(100, 200, 100, 0.15);
    --barva-roza: rgba(255, 150, 200, 0.15);
    --barva-vijolicna: rgba(180, 130, 255, 0.15);
}